.images
{
    margin-top: 3%;
    display: inline-flex;
    flex-flow: wrap;
    margin-left: 8.8%;
    
}

.slide {
   
   padding: 5px;
}
.images a:hover span {
    opacity: 1;
    transition: opacity 1s;
}

.image-popup {
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99999;
}
.con {
    display: flex;
    flex-flow: column;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 5px;
}