body{
  background: linear-gradient(-135deg, #c850c0, #4158d0); 
  }
  
  .bgWhite{
    
    background:white;

  }
  
  .title{

    font-weight:600;
    margin-top:20px;
    font-size:24px
  }
  
  .customBtn{
    border-radius:0px;
    padding:10px;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
  }
  
  form input{
    display:inline-block;
    width:35px;
    height:35px;
    text-align:center;
  }